<footer class="navbar navbar-inverse footer" style="background-color:teal; margin-top:40px">
  <div class="container">
    <a class="navbar-brand" href="/">YelpCamping @ 2017</a>
  </div>
</footer>

<!-- Bootstrap core JavaScript
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>