<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>YelpCamp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-toggleable-md sticky-top navbar-inverse" style="background-color: teal">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">YelpCamping</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link" href="#">Categories</a>
				<a class="nav-item nav-link" href="#">Blog</a>
				<a class="nav-item nav-link" href="#">Login</a>
				<a class="nav-item nav-link" href="#">Sign Up</a>
			</div>
		</div>
	</div>	
</nav>
