<% include partials/header %>

<div class="container">
	
	<header class="jumbotron" style="background-color: #92C4C3">
		<div class="container">
			<h1>Litoral Campgrounds</h1>
			<p>From Córdoba to Entre Rios, these sights are full of lush vegetation and small water banks</p>
			<a class="btn btn-success" href="/campgrounds/new">Add a Campground</a>
		</div>
	</header>

	<div class="row text-center">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="img-thumbnail">
					<img class="img-fluid" src="<%= campground.image %>" alt="">
					<div class="caption"><%= campground.name %></div>
				</div>

			</div>
		<% }) %>
	</div>	

</div>

<% include partials/footer %>