<% include partials/header %>

<div class="container" style="margin:0 auto">
	<img src="<%= campground.image %>">
	<h3><%= campground.name %></h3>
	<h5><%= campground.description %></h5>
</div>


<% include partials/footer %>